client_packages/dlcpacks
client_packages/node_modules

packages/module/node_modules

ArmyEMS/
backup/
bridge/
clothes/
maps/
plugins/
soupMods/
ArmyEMS.rar
autosave_map.json
bt.dat
conf.json
node.dll
server.exe
serverTest.code-workspace
testing-workspace.code-workspace
testing-workspace2.code-workspace
testSecret.code-workspace